.roomCardContainer {
    background-color: #ffffff;
    padding: 1em 1em;
    border-radius: 1em;
    border: none;
    margin-top: 0.5em;
}

.roomCardContainer h6 {
    font-size: 0.675em;
    color: var(--textColor);
    font-weight: 500;
}

.roomCardContainer h2 {
    font-size: 0.875em;
    color: black;
    font-weight: 500;
    line-height: 1;
    color: black;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.titleContainer svg {
    color: #28ae61;
    margin-left: 0.55em;
    width: 10px;
    margin-bottom: 5px;
}

.roomMembers {
    display: flex;
    align-items: flex-start;
}

.roomMembers p {
    font-size: 0.975em;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.5em;
    color: var(--textColor);
}

.roomMembers img {
    border-radius: 0.6em;
    width: 35px;
    height: 35px;
}

.roomMembers > div:first-child > img:nth-child(2) {
    position: absolute;
    left: 1em;
    top: 1em;
}

.roomMembers > div:first-child {
    position: relative;
    margin-right: 2em;
}

